<?xml version="1.0" ?>

<launch>
  <arg name="gripper_name" default="gripper" />

  <node name="nist_gripper_action_server" pkg="demogripperactionserver" 
    type="demogripperactionserver" output="screen">
    <param name="gripper_name" type="str" value="$(arg gripper_name)" />
  </node>
  <node name="nist_gripper_action_client" pkg="demogripperactionclient" 
    type="demogripperactionclient" output="screen">
    <param name="gripper_name" type="str" value="$(arg gripper_name)" />
  </node>

</launch>
