<?xml version="1.0" ?>

<launch>
  	<arg name="srdf_file" default="$(find fanuc_lrmate200id_support)/config/fanuc_lrmate200id.srdf" />

  	<param name="robot_description" 
		command="$(find xacro)/xacro.py $(find fanuc_lrmate200id_support)/urdf/lrmate200id.xacro" />
  	<rosparam  command="load" file="$(find fanuc_lrmate200id_support)/config/joint_names_lrmate200id.yaml" />
	<param name="robot_description_semantic" command="cat $(arg srdf_file)" />
  

	<param name="loglevel" value="1" />
	<param name="logfile" value="$(find nist_fanuc)/log/nist_fanuc.log" />

	<param name="tip_name" value="link_6" />
	<param name="root_name" value="base_link" />
	<node name="nistcrcl" pkg="nistcrcl" type="nistcrcl" respawn="false" output="screen" />	
 	<node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" output="screen" />

	<!-- We do not have a robot connected, so publish fake joint states -->
	<node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
	    <param name="/use_gui" value="true"/>
	    <rosparam param="/source_list">[nist_controller/robot/joint_states]</rosparam>
	</node>




	<node name="rviz" pkg="rviz" type="rviz" args="-d $(find nist_fanuc)/visualize.rviz" required="true" />

<!--
 <include file="$(find fanuc_lrmate200id_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="true"/>
    <arg name="fake_execution" value="true"/>
    <arg name="info" value="true"/>
    <arg name="debug" value="false"/>
  </include>

	   <include file="$(find fanuc_lrmate200id_support)/launch/moveit_rviz.launch">
	    <arg name="config" value="true"/>
	  </include>
-->
</launch>
